<include file="Public:header"/>
<include file="Public:lefter"/>
<include file="Public:setting"/>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{:U('index/index')}">{$Think.lang.HOME}</a>
            </li>

            <li class="active">{$Think.lang.EDITSTAFF}</li>
        </ul><!-- .breadcrumb -->

        <!--<div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>-->
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                {$Think.lang.EDITSTAFF}
                <small>
                    <i class="icon-double-angle-right"></i>
                    {$Think.lang.EDIT}
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="btn-toolbar">

                    <div class="btn-group">
                        <button class="btn btn-danger" id="deleteselected" title="删除"><i class="icon-trash icon-2x icon-only"></i></button>
                    </div>
                    <div class="btn-group">
                        <a href="JavaScript:history.back(-1)" class="btn btn-info" id="" title="返回"><i class="icon-reply icon-2x icon-only"></i></a>
                    </div>
                </div>
                <div class="space-2"></div>
                <div class="edit-form-info col-xs-12" style="float:left">
                    <div class="space-6"></div>
                    <div class="col-xs-3 text-center" style="margin-top: 50px;">

                        <div id="cropContainerPreload" style="display:inline-block;width: 200px;height: 150px;position:relative;background-image: url('{$arr[0].avatar}'),url('{$Think.const.ASSETS_URL}images/avatar.png');background-repeat: no-repeat;background-position: center;"></div><br>
                        <span class="btn" id="cropContainerHeaderButton">改变头像</span>

                    </div>

                    <div class="col-xs-9">
                        <form id="user-form" class="form-horizontal" role="form" action="">
                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="name"> {:L('NAME')} </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text"  id="name" class="col-xs-12" name="name" value="{$arr[0].name}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="code"> 编号 </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text"  id="code" class="col-xs-12" name="code" value="{$arr[0].code}"/>
                                        <span class="input-group-addon">
                                            <i class="icon-legal"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="help-button" data-rel="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="{$html}" title="编号类型">?</span>
                            </div>-->

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right"> {:L('GENDER')} </label>

                                <div class="col-xs-4">
                                    <label class="inline">
                                        <input name="sex" type="radio" class="ace 男" value="男" />
                                        <span class="lbl"> {:L('MALE')} </span>
                                    </label>


                                    <label class="inline">
                                        <input name="sex" type="radio" class="ace 女" value="女"/>
                                        <span class="lbl"> {:L('FEMALE')} </span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="date"> {:L('BRITH')} </label>

                                <div class="col-xs-4">
                                    <div class="input-group">

                                        <input class="datepicker1 col-xs-12" id="date" name="brith" type="text" data-date-format="yyyy-mm-dd" value="{$arr[0].brith}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-calendar"></i>
                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="idcard"> {:L('IDCARD')} </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text" id="idcard" class="col-xs-12" name="idcard" value="{$arr[0].idcard}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-credit-card"></i>
                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="phone"> {:L('PHONE')} </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text" id="phone" class="col-xs-12" name="phone" value="{$arr[0].phone}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-phone icon-flip-horizontal"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="email">Email</label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="email" id="email" class="col-xs-12" name="email" value="{$arr[0].email}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="weixin">微信号</label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text" id="weixin" class="col-xs-12" name="weixin" placeholder="微信号" value="{$arr[0].weixin}"/>
                                        <span class="input-group-addon">
                                    <i class="icon-comments"></i>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="qq"> QQ号 </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text" id="qq" class="col-xs-12" name="qq" placeholder="QQ号" value="{$arr[0].qq}"/>
                                        <span class="input-group-addon" style="padding: 0 11px 0 11px">

									<img src="{$Think.const.IMAGE_URL}sqq.png" title="qq"/>

                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="time"> 入职时间 </label>

                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="text" id="time"  class="datepicker2 col-xs-12" name="time"  data-date-format="yyyy-mm-dd" value="{$arr[0].time}"/>
                                        <span class="input-group-addon">
                                            <i class="icon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="depart">部门</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="depart" name="depart">
                                        <option value="">&nbsp;==请选择==&nbsp;</option>
                                        <volist name="depart" id="vol">
                                            <option value="{$vol.name}">{$vol.name}</option>
                                        </volist>
                                    </select>
                                </div>

                                <label class="col-xs-1 control-label no-padding-right" for="group">小组</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="group" name="group">
                                        <option value="">&nbsp;==请选择==&nbsp;</option>
                                        <volist name="group" id="vol">
                                            <option value="{$vol.name}">{$vol.name}</option>
                                        </volist>


                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label class="col-xs-1 control-label no-padding-right" for="status">{:L('STATUS')}</label>
                                <div class="col-xs-2">
                                    <select class="form-control" id="status" name="status">
                                        <option value="">&nbsp;==请选择==&nbsp;</option>
                                        <option value="在职">在职</option>
                                        <option value="离职">离职</option>
                                        <option value="审核中">审核中</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix form-group col-xs-12">
                                <div class="col-md-offset-1 ">
                                    <div class="col-xs-4">
                                        <button id="submit" class="btn btn-info" type="button" onclick="checkValid();bootbox.confirm('你确定要提交吗?', function (result) {

                                            if (result) {
												update_userinfo();
											}
										});">
                                            <i class="icon-ok bigger-110"></i>
                                            {$Think.lang.SUBMIT}
                                        </button>
                                    </div>

                                    <div class="col-xs-3">
                                        <button class="btn" type="reset">
                                            <i class="icon-undo bigger-110"></i>
                                            {$Think.lang.RESET}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

</div><!-- /.main-container-inner -->

</div><!-- /.main-container -->

<include file="Public:scripts"/>
<include file="Public:check"/>
<!-- inline scripts related to this page -->


<script type="text/javascript" src="{$Think.const.JS_URL}ajaxfileupload.js"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="{$Think.const.JS_URL}artDialog4.1.6/plugins/iframeTools.js"></script>
<script>
    var croppicContainerPreloadOptions = {
        uploadUrl:"{:U('staff/saveimg')}",
        cropUrl:"{:U('staff/cropimg')}",
        customUploadButtonId:'cropContainerHeaderButton',
        //loadPicture:"{$Think.const.ASSETS_URL}images/avatar.png",
        enableMousescroll:true,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
        onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
        onImgDrag: function(){ console.log('onImgDrag') },
        onImgZoom: function(){ console.log('onImgZoom') },
        onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
        onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
        onReset:function(){ console.log('onReset') },
        onError:function(errormessage){ console.log('onError:'+errormessage) }
    };
    var cropContainerPreload = new Croppic('cropContainerPreload', croppicContainerPreloadOptions);

</script>
<script>
    jQuery(function($) {
        $(".datepicker1").datepicker({
            changeYear: true,
            changeMonth: true,
            defaultDate: "1992-05-11",
            maxDate: "2000-12-31",
            minDate: "1949-10-01",
            showMonthAfterYear:true,
            monthNamesShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            dateFormat: "yy-mm-dd"
        });

        $(".datepicker2").datepicker({
            changeYear: true,
            changeMonth: true,
            maxDate: "today",
            minDate: "2014-01-01",
            showMonthAfterYear:true,
            monthNamesShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            dateFormat: "yy-mm-dd"
        });

        $('#head_photo').on('change',function(){

            ajaxFileUploadview('head_photo','photo_pic',"{:U('upload/upload')}&uid={$arr[0].id}");
        });

        $('#deleteselected').click(function(){
            showdialogs();
        });
        function showdialogs(){
            bootbox.confirm('你确定要删除吗?', function (result) {
                if (result) {

                    $.ajax({
                        url: "{:U('staff/del')}&uid={$arr[0].id}",
                        type: 'get',
                        success: function (res) {
                            if(res ==1 ){
                                bootbox.alert({
                                    buttons: {
                                        ok: {
                                            label: 'OK',
                                            className: 'btn-default'
                                        }
                                    },
                                    message: '友谊的小船说翻就翻，我也不要和你做朋友了',
                                    title: "删除成功",
                                    callback: function (){
                                        window.location.href="{:U('staff/look')}";
                                    }
                                });

                            }else{
                                bootbox.alert({
                                    buttons: {
                                        ok: {
                                            label: 'OK',
                                            className: 'btn-default'
                                        }
                                    },
                                    message: '你们同事的不同意你这么做，且行且珍惜',
                                    title: "删除失败",
                                    callback: function (){
                                        window.location.reload();
                                    }
                                });
                            }
                        }
                    });
                }
            });
        }
    });


    $("select [value='{$arr[0].depart}']").attr("selected", true);
    $("select [value='{$arr[0].status}']").attr("selected", true);
    $("select [value='{$arr[0].group}']").attr("selected", true);
    $("input[name='sex'][value='{$arr[0].sex}']").attr("checked", true);

    //$('.datepicker').css("cursor","pointer");

    function update_userinfo(){
        var data = $('form').serialize();
        $.ajax({
            url: "{:U('staff/edit_save')}&uid={$arr[0].id}",
            type: 'post',
            data: data,
            success: function (res) {
                if(res){
                    window.location.href="{:U('staff/detail')}&uid={$arr[0].id}";
                }else{
                    alert("更新失败");
                }

            }
        });
    }

    $('#user-form')
            .bootstrapValidator({
                message: '请输入有效的值',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        message: '用户名无效',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 4,
                                message: '用户名最小长度为2'
                            }
                        }
                    },
                    code: {
                        message: '编号无效',
                        validators: {
                            notEmpty: {
                                message: '编号不能为空'
                            },
                            stringLength: {
                                min: 4,
                                max: 4,
                                message: '编号长度为4'
                            },
                            regexp: {
                                regexp: /^[A-Z]{2}\d{2}$/,
                                message: '请输入有效的编号'
                            },
                            /*remote: {
                                //ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                                url: "{:U('staff/checkcode')}",
                                message: '编号已存在',//提示消息
                                delay :  2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                                type: 'POST'
                            }*/
                        }
                    },
                    brith:{
                        message: '日期无效',
                        validators: {
                            notEmpty: {
                                message: '生日不能为空'
                            },
                            regexp: {
                                regexp: /^\d{4}-\d{2}-\d{2}$/,
                                message: '请输入有效的日期'
                            }
                        }
                    },
                    idcard: {
                        validators: {
                            notEmpty: {
                                message: '身份证号不能为空'
                            },

                            regexp: {
                                regexp: /^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/,
                                message: '身份证号格式不正确'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱不能为空'
                            },
                            emailAddress: {
                                message: '请输入正确的邮箱'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: {
                                message: '手机号不能为空'
                            },
                            regexp: {
                                regexp: /^1(3[0-9]|4[57]|5[0-35-9]|7[01678]|8[0-9])\d{8}$/,
                                message: '手机号格式不正确'
                            }
                        }
                    },
                    /*time: {
                     validators: {
                     notEmpty: {
                     message: '入职时间不能为空'
                     },
                     regexp: {
                     regexp: /^\d{4}-\d{2}-\d{2}$/,
                     message: '请输入有效的日期'
                     }
                     }
                     },*/

                    depart: {
                        validators: {
                            notEmpty: {
                                message: '部门不能为空'
                            }
                        }
                    },
                    group: {
                        validators: {
                            notEmpty: {
                                message: '小组不能为空'
                            }
                        }
                    },
                    status: {
                        validators: {
                            notEmpty: {
                                message: '员工工作状态不能为空'
                            }
                        }
                    }
                }
            });

    function checkValid(){
        var bootstrapValidator = $('#user-form').data('bootstrapValidator');
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()){
            return true;
        }else{
            exit;
        }
    }

    $('[data-rel=popover]').popover({container:'body'});// 划过显示帮助
</script>


<include file="Public:footer"/>