
<!-- basic scripts -->

<!--[if !IE]> -->

<script src="{$Think.const.JS_URL}jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{$Think.const.JS_URL}jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>
<script src="{$Think.const.JS_URL}jquery-1.10.2.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='{$Think.const.JS_URL}jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
<script src="{$Think.const.JS_URL}typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="{$Think.const.JS_URL}jquery.dataTables.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.dataTables.bootstrap.js"></script>
<script src="{$Think.const.JS_URL}bootbox.min.js"></script>

<!-- ace scripts -->

<script src="{$Think.const.JS_URL}ace-elements.min.js"></script>
<script src="{$Think.const.JS_URL}ace.min.js"></script>

<script src="{$Think.const.JS_URL}jquery.gritter.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.slimscroll.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.easy-pie-chart.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.hotkeys.min.js"></script>
<script src="{$Think.const.JS_URL}bootstrap-wysiwyg.min.js"></script>
<script src="{$Think.const.JS_URL}select2.min.js"></script>
<script src="{$Think.const.JS_URL}bootstrapValidator.min.js"></script>

<script src="{$Think.const.JS_URL}fuelux/fuelux.spinner.min.js"></script>
<script src="{$Think.const.JS_URL}x-editable/bootstrap-editable.min.js"></script>
<script src="{$Think.const.JS_URL}x-editable/ace-editable.min.js"></script>


<script src="{$Think.const.JS_URL}jquery.maskedinput.min.js"></script>
<script src="{$Think.const.JS_URL}jquery-ui-1.10.3.custom.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.ui.touch-punch.min.js"></script>
<script src="{$Think.const.JS_URL}jquery-ui-1.10.3.full.min.js"></script>
<script src="{$Think.const.JS_URL}croppic.js"></script>
<script src="{$Think.const.JS_URL}sorttable.js"></script>
<script src="{$Think.const.JS_URL}echarts.min.js"></script>
