<include file="Public:header"/>
<include file="Public:lefter"/>
<include file="Public:setting"/>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">


						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">{$Think.lang.Home}</a>
							</li>

							<li class="active">404</li>
						</ul><!-- .breadcrumb -->

						<!--<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div>-->
						<!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="error-container">
									<div class="well">
										<h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="icon-sitemap"></i>
												404
											</span>
											页面没有找到
										</h1>

										<hr />
										<h3 class="lighter smaller">对不起，你需要的页面不在地球!</h3>

										<div>
											<form class="form-search">
												<span class="input-icon align-middle">
													<i class="icon-search"></i>

													<input type="text" class="search-query" placeholder="Give it a search..." />
												</span>
												<button class="btn btn-sm" onclick="return false;">Go!</button>
											</form>

											<div class="space"></div>
											<h4 class="smaller">你可以按照下面的操作:</h4>

											<ul class="list-unstyled spaced inline bigger-110 margin-15">
												<li>
													<i class="icon-hand-right blue"></i>
													检查你的URL地址是否正确
												</li>

												<li>
													<i class="icon-hand-right blue"></i>
													查看帮助
												</li>

												<li>
													<i class="icon-hand-right blue"></i>
													<a href="{:U('index/index')}">回到首页</a>
												</li>
											</ul>
										</div>

										<hr />
										<div class="space"></div>

										<div class="center">
											<a href="JavaScript:history.back(-1)" class="btn btn-grey">
												<i class="icon-arrow-left"></i>
												返回
											</a>

											<a href="/" class="btn btn-primary">
												<i class="icon-dashboard"></i>
												控制台
											</a>
										</div>
									</div>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->


			</div><!-- /.main-container-inner -->

		</div><!-- /.main-container -->

		<!-- basic scripts -->


		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{$Think.const.JS_URL}jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
		<script src="{$Think.const.JS_URL}typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="{$Think.const.JS_URL}ace-elements.min.js"></script>
		<script src="{$Think.const.JS_URL}ace.min.js"></script>

		<!-- inline scripts related to this page -->
</body>
</html>
