<include file="Public:header"/>
<include file="Public:lefter"/>
<include file="Public:setting"/>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">{$Think.lang.HOME}</a>
            </li>
            <li class="active">添加专利</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="on" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                专利管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    添加
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="btn-toolbar noprint">

                    <div class="btn-group">
                        <a href="JavaScript:history.back(-1)" class="btn btn-info" title="返回"><i class="icon-reply icon-2x icon-only"></i></a>
                    </div>

                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-header widget-header-blue widget-header-flat">
                                <h4 class="lighter">申请流程</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                        <ul class="wizard-steps">
                                            <li data-target="#step1" class="active">
                                                <span class="step">1</span>
                                                <span class="title">申请人基本信息</span>
                                            </li>

                                            <li data-target="#step2">
                                                <span class="step">2</span>
                                                <span class="title">专利基本信息</span>
                                            </li>

                                            <li data-target="#step3">
                                                <span class="step">3</span>
                                                <span class="title">专利申请审批流程</span>
                                            </li>

                                        </ul>
                                    </div>

                                    <hr />
                                    <form class="form-horizontal" id="form1" method="post">
                                        <div class="step-content row-fluid position-relative" id="step-container">
                                            <div class="step-pane active" id="step1">


                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="username">姓名:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">
                                                            <input type="text" name="username" id="username" class="col-xs-12 col-sm-4" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">邮箱:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">
                                                            <input type="email" name="email" id="email" class="col-xs-12 col-sm-4" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="hr hr-dotted"></div>

                                                <div class="space-2"></div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">手机号:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">

                                                            <input type="tel" id="phone" name="phone" class="col-xs-12 col-sm-4" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>

                                            </div>

                                            <div class="step-pane" id="step2">

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="category">专利类型:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">

                                                            <select name="category" id="category">
                                                                <option value="">--------</option>
                                                                <volist name="arr" id="vol">
                                                                    <option value="{$vol.id}">{$vol.name}</option>
                                                                </volist>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="name">专利名:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">

                                                            <input type="text" id="name" name="name" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>

                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="content">描述:</label>

                                                    <div class="col-xs-12 col-sm-9">
                                                        <div class="clearfix">
                                                            <textarea name="content" id="content" class="col-xs-12 col-sm-4" maxlength="300"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="step-pane" id="step3">
                                                <div class="center">

                                                    <div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="step-pane" id="step4">
                                                <div class="center">
                                                    <h3 class="green">点击下载!</h3>
                                                    <a id="downloadtable" href="">下载申请表!</a>
                                                </div>
                                            </div>-->
                                        </div>
                                    </form>
                                    <hr />
                                    <div class="row-fluid wizard-actions">
                                        <button class="btn btn-prev">
                                            <i class="icon-arrow-left"></i>
                                            上一步
                                        </button>

                                        <button  class="btn btn-success btn-next" data-last="完成 ">
                                            下一步
                                            <i class="icon-arrow-right icon-on-right"></i>
                                        </button>
                                    </div>
                                </div><!-- /widget-main -->
                            </div><!-- /widget-body -->
                        </div>
                    </div>
                </div>


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="{$Think.const.JS_URL}jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]-->
<script src="{$Think.const.JS_URL}jquery-1.10.2.min.js"></script>
<!--[endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{$Think.const.JS_URL}jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='{$Think.const.JS_URL}jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
<script src="{$Think.const.JS_URL}typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="{$Think.const.JS_URL}fuelux/fuelux.wizard.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.validate.min.js"></script>
<script src="{$Think.const.JS_URL}additional-methods.min.js"></script>
<script src="{$Think.const.JS_URL}bootbox.min.js"></script>
<script src="{$Think.const.JS_URL}jquery.maskedinput.min.js"></script>
<script src="{$Think.const.JS_URL}select2.min.js"></script>

<!-- ace scripts -->

<script src="{$Think.const.JS_URL}ace-elements.min.js"></script>
<script src="{$Think.const.JS_URL}ace.min.js"></script>
<include file="Public:check"/>
<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($) {

        $('[data-rel=tooltip]').tooltip();


        $('#fuelux-wizard').ace_wizard().on('change' , function(e, info){
            if(info.step == 1) {
                if(!$('#form1').valid()) return false;
            }
            if(info.step == 2){
                if(!$('#form1').valid()) return false;
            }
        }).on('finished', function(e) {
            var url = "";
            var ca = $("#category").val();
            //var data = new FormData(document.getElementById("form1"));
            var data = $('#form1').serialize();
            $.ajax({
                url: "{:U('patent/add')}&ca="+ca,
                type: "post",
                data: data,
                dataType: "json",
                success: function(res){
                    if(eval(res).code == '1'){
                        url = eval(res).url;
                        bootbox.dialog({
                            message: "<a href="+url+">点击下载专利申请表!</a>",
                            buttons: {
                                OK: {
                                    label: "OK",
                                    className: "btn-primary",
                                    callback: function () {
                                        window.location.href = "{:U('patent/look')}"
                                    }
                                }
                            }
                        });
                    }else {
                        alert(eval(res).msg);
                    }
                }
            });

        }).on('stepclick', function(e){
            //return false;//prevent clicking on steps
        });

        //documentation : http://docs.jquery.com/Plugins/Validation/validate

        jQuery.validator.addMethod("phone", function (value, element) {
            return this.optional(element) || /^1(3[0-9]|4[57]|5[0-35-9]|7[01678]|8[0-9])\d{8}$/.test(value);
        }, "请输入有效的手机号.");


        $('#form1').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                email: {
                    required: true
                },
                username: {
                    required: true
                },
                phone: {
                    required: true,
                    phone: "required"
                },
                category: {
                    required: true
                },
                name: {
                    required: true
                },
                content: {
                    required: true
                }
            },
            messages: {
                email: {
                    required: "请提供一个有效的邮箱.",
                    email: "邮箱格式不正确"
                },
                username: {
                    required: "请输入您的姓名"
                },
                phone: {
                    required: "请输入您的手机号",
                    phone: "手机号格式不对"
                },
                category: {
                    required: "请选择一项"
                },
                name: {
                    required: "专利名不能为空"
                },
                content: {
                    required: "请输入少于300字的内容，简单描述一下该专利"
                }
            },
            invalidHandler: function (event, validator) {
                //display error alert on form submit
            },

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if(element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('div[class*="col-"]');
                    if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if(element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if(element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },
            submitHandler: function (form) {

            }
        });


    })
</script>
<include file="Public:footer"/>
